<div class="card">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">
        <form novalidate (ngSubmit)="login()" [formGroup]="loginForm">

            <div class="form-group row mb-2">
                <label for="emailId" class="col-md-2 col-form-label">
                    Email
                </label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="emailId"
                           type="email"
                           placeholder="Email"
                           formControlName="email"
                           [ngClass]="{'is-invalid': emailMessage }"/>

                        <span class="invalid-feedback">
                            {{ emailMessage }}
                        </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label for="passwordId" class="col-md-2 col-form-label">
                    Password
                </label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="passwordId"
                           type="password" 
                           placeholder="Password"
                           formControlName="password" 
                           [ngClass]="{'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched} " />

                    <span class="invalid-feedback">
                        <span *ngIf="loginForm.get('password')?.errors?.required">
                            Please enter your password.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-2">
                    <button class="btn btn-primary mr-3" type="submit" style="width: 80px;"
                        [disabled]="loginForm.invalid">
                        Login
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<br>&nbsp;