<div class="container">
    <h1>{{htmlData}}</h1>
    <div class="form-group row mb-2">

        <div class="offset-md-2 col-md-2">
            <button class="btn btn-primary mr-3" type="submit" style="width: 80px;" (click)="socketMessageTypeTest(1)">
                Logout Test
            </button>
        </div>

        <div class="offset-md-2 col-md-2">
            <button class="btn btn-primary mr-3" type="submit" style="width: 80px;" (click)="socketMessageTypeTest(0)">
                Ping Test
            </button>
        </div>
    </div>
</div>